

body, html {
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

.main {

    min-height: 80vh;

}

.header {   

    height: 100px;
    background-color: lightblue;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;


}

.footer {
    min-height: 150px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    padding: 2rem 9%;
    margin-top: 100px;

}

#add-item {
    max-width: 300px;
}

#errand-list {
    padding: 15px 0;
    max-height: 500px;
    overflow-y: auto;
}

.errand-list_content  {
    width: 100%;
}

.errand-list_item {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

.search-input, .edit-input {
    width: 300px !important;
}

.table-edit-input {
    flex: 1;
    border-radius: 0 !important;
}

.form-card {
    width: 50%;
    margin: 2rem 0;
    margin-top: 150px;
}